html { position: relative; min-height: 100%; }
 body { margin-bottom: 60px; font-family: Verdana, sans-serif;}
.footer { position: absolute; bottom: 0; width: 100%; height: 40px; line-height: 15px; background-color: #f5f5f5; padding-top: 5px; font-size: 12px; text-align: center;}
label, footer { user-select: none; }
.score { position:absolute; bottom:0; right:15px;}

.list-group-item:first-of-type {
  background-color: #fff;
  border-left-color: #fff;
  border-right-color: #fff;
}
.list-group-mine .list-group-item {
  background-color: #fff;
  border-left-color: #fff;
  border-right-color: #fff;
}

.paper_title {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 70%;
  text-align: center;
}
.detail {
  margin: auto;
  width: 50%;
}
.detail2 {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 50%;
}
.card {
  margin-top: -15px;
}
